{%extends 'base.html'%}
{%block title%}Home{%endblock title%}
{% comment %} CSS {% endcomment %}
{%block style%}
  .container {
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    font-size: large;
    cursor: default;
  }
  @media (max-height: 645px) {
    @media (max-width: 770px) {
      .navbar {
        background-color: rgba(0, 0, 0, 0.8);
      }
    }
  }
  @media (min-width: 1400px) {
    @media (min-height: 900px){
      h1 {
        font-size: 45px;
      }
      p {
        font-size: 30px;
      }
    }
  }
  @media (max-width: 400px) {
    .container {
      transform: translate(-50%, -60%);
    }
  }
  @media (max-height: 370px) {
    .container {
      transform: translate(-50%, -50%);
    }
  }
  @media (max-height: 300px) {
    .container {
      transform: translate(-50%, -30%);
    }
  }
{%endblock style%}
{% block content %}
{% comment %} Text. {% endcomment %}
<div class="container">
  <h1>HELLO & WELCOME</h1>
  <p>Are you ready to explore the first major website I've created?<br>
  Here you can discover the results of my coding!<br>
  Dive in now!</p>
</div>
{% endblock content %}
