{%extends "base.html"%}
{%block title%}
Log In
{%endblock title%}
{%block head%}              
{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
{%endblock head%}
{%block content%}
{% comment %} Yellow island. {% endcomment %}
<div class="island">
    {% comment %} Login inputs and labels. {% endcomment %}
    <div class="content">
        <h1><b>Log In</b></h1>
        <br>
        <form method="post">
            {% csrf_token %}
            <label for="email">Email address</label>
            <input type="email" placeholder="Enter your email" id="email" name="email" required><br>
            <label for="password">Password</label>
            <input type="password" placeholder="Enter your password" id="password" name="password" required>
            {% comment %} Submit button. {% endcomment %}
            <input class="btn mb-4 mt-4" type="submit" id = "submit" name="submit" value="Log In →">
        </form>
    </div>
    {% comment %} Separator text. {% endcomment %}
    <div class="boxx">
        {% comment %} Left line. {% endcomment %}
        <div class="hrleft">
            <hr>
        </div>
        {% comment %} Mid text. {% endcomment %}
        <div class="or">
            <p>Or Log In Using</p>
        </div>
        {% comment %} Right line. {% endcomment %}
        <div class="hrright">
            <hr>
        </div>
    </div>
    {% comment %} GitHub login option. {% endcomment %}
    <div class="container containergit">
        <a href="{% url 'social:begin' 'github' %}"><img class="container-content" src="{% static 'Github.png'%}" alt="GitHUb"></a>
    </div>
    {% comment %} Google login option. {% endcomment %}
    <div class="container containergoogle">
        <a href="{% url 'social:begin' 'google-oauth2' %}"><img class="container-content" src="{% static 'googlelogo.png'%}" alt="Google"></a>
    </div>
    <br>
</div>
{%endblock content%}
