<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} Title. {% endcomment %}
    <title>Response</title>
    {% comment %} Css {% endcomment %}
    <style>
        h1 {
            text-align: center;
            margin-top: 3%;
        }
        img {
            max-height: 60%;
            display: block;
            margin: 0 auto;
        }
        body {
            background-color: rgba(255, 0, 0, 0.3);
        }
        @media (max-width: 350px) {
            img {
                max-height: 400px;
            }
        }
    </style>
</head>
<body>
{% comment %} Respones types. {% endcomment %}
{%if data == "existing account"%}
    {% comment %} Text. {% endcomment %}
    <h1>This email address is already in use! <a href="{%url 'login'%}"> Log In </a> or <a href="{%url 'signup'%}"> Sign Up</a>!</h1>
{%elif data == "invalid password"%}
    {% comment %} Text. {% endcomment %}
    <h1>The passwords do not match. <a href="{%url 'signup'%}">Sign Up</a> again!</h1>
{%elif data == "unsuccessfullogin"%}
    {% comment %} Text. {% endcomment %}
    <h1>Incorrect login credentials! Try <a href="{%url 'login'%}"> again</a>!</h1>
{%endif%}
{%load static%}
{% comment %} Image. {% endcomment %}
<img src="{%static 'stop.png'%}">
</body>
</html>
